/* index.css or App.css */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer colors {
  :root {
    --raisin-black: rgb(32, 34, 49);
    --secondary-color: #2b2d42;
    /*Secondary Color*/
    --mid-main-secondary: rgb(141, 153, 174);
    /*Mid Main & Secondary*/
    --french-gray: #bdc6d1ff;
    --main-color: #edf2f4;
    /*Main Color*/
    --really-light-accent: #ee8b98ff;
    /*Really Light Accent Color*/
    --light-accent-color: rgb(239, 35, 60);
    /*Light Accent Color*/
    --accent-color: #d90429;
    /*Accent Color*/
    --dark-accent-color: rgb(163, 20, 44);
    /*Dark Accent Color*/
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  /* border: 2px solid skyblue; */
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  overflow-x: hidden;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

/* 
:focus {
  outline: 2px solid #007cba;
  outline-offset: 2px;
  box-shadow: 0 0 0 4px rgba(0, 124, 178, 0.3);
} */


/* @media (prefers-color-scheme: light) {
  :root {
    color: red;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */