.typeOfInput {
    color: var(--secondary-color);
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    align-items: flex-start;
    margin-bottom: 7px;
    margin-top: -5px;
}

.inputAuth {
    background-color: transparent;
    border: 1px solid var(--dark-accent-color);
    width: 100%;
    height: 50px;
    border-radius: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    resize: none;
    padding: 14px 16px;
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.2s ease-out;
    box-shadow: 0 0 5px 0 var(--dark-accent-color);
}

.inputAuth:hover {
    box-shadow: 0 0 10px 0 var(--dark-accent-color);
}

.inputAuth::placeholder {
    color: var(--mid-main-secondary);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}