.dropdown {
    position: relative;
    display: flex;
    height: 84px;
    margin-left: 40px;
}

.dropbtn {
    cursor: pointer;
    background-color: transparent;
    color: var(--secondary-color);
    border: none;
    font-family: 'Public Sans', sans-serif;
    height: 100%;
    margin: auto 0;
    width: auto;
    list-style: none;
    font-weight: 600;
    font-size: 18px;
    padding: 0 12px;
}

.dropdown-content a {
    color: var(--secondary-color);
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    left: -60px;
    top: 84px;
    position: absolute;
    background-color: var(--main-color);
    min-width: 360px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
    font-family: 'Public Sans', sans-serif;
    border-radius: 0 0 10px 10px;
    z-index: 900;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.dropbtn:hover+.dropdown-content,
.dropdown-content:hover {
    opacity: 1;
    visibility: visible;
}

.dropbtn:hover {
    color: var(--accent-color);
}

.dropdown-link {
    display: flex;
    width: 100%;
    padding: 10px 10px;
    gap: 5px;
}

.dropdown-link:hover{
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.dropdown-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Public Sans', serif;
}

.dropdown-text h4 {
    font-size: 1.1rem;
}

.dropdown-text h6 {
    font-size: 0.8rem;
    font-weight: 400;
}
.dropdown-image{
    height: 50px;
    width: 50px;
}