#footer-container {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#center {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 8vh 0;
    color: var(--main-color);
}

#socialMedia-container {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.links-wrapper {
    display: flex;
    width: 100%;
    order: 2;
    border-top: 5px solid var(--french-gray);
    /* Ensure links-wrapper is below #center */
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    height: 5rem;
    border-radius: 40%;
    background-color: var(--main-color);
    font-size: 4rem;
    color: var(--secondary-color);
    transition: 0.2s ease-in-out;
}

.socialMedia:nth-child(2):hover {
    border-radius: 10px;
    color: #db1d9f;
}

.socialMedia:nth-child(1):hover {
    border-radius: 10px;
    color: #0077B5;
}

.socialMedia:nth-child(3):hover {
    border-radius: 10px;
    color: #1877F2;
}

#center h1 {
    font-family: 'Inter', serif;
    font-size: clamp(1.2rem, 5vw, 2.4rem);
    z-index: 1;
}

#center h2 {
    font-family: 'DynaPuff', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--really-light-accent);
    font-size: clamp(1.2rem, 5vw, 2.4rem);
    letter-spacing: 1px;
    padding: 0 20px;
}

.links {
    width: 50%;
    flex: 1;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(0.6rem, 1.2rem, 1.4rem);
    gap: 0.8rem;
    padding: 2rem 3rem;
}

.links:first-child {
    border-right: 2px dashed var(--french-gray);
}

.links:last-child {
    border-left: 2px dashed var(--french-gray);
}

.links a {
    color: var(--mid-main-secondary);
    transition: 0.2s ease-out;
    min-width: 200px;
    width: 100%;
}

.links li {
    list-style: none;
}

.links a:hover {
    color: var(--main-color);
    /* zoom: 1.2; */
    text-decoration: underline;
}

.rotated-bg {
    display: inline-block;
    position: relative;
    padding: 8px 12px;
    z-index: 1;
    color: inherit;
    font-weight: inherit;
}

.rotated-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(239, 35, 59, 0.8);
    transform: rotate(2.5deg);
    z-index: -1;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


@media only screen and (max-width: 600px) {
    .links{
        padding: 2rem 0;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #center {
        width: 100%;
    }

    #footer-container {
        flex-direction: column;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1180px) {}

@media only screen and (min-width: 1600px) {}