#footer-container {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-container #left {
    width: 20%;
    height: 70vh;
    flex-direction: column;
}

#footer-container #center {
    width: 60%;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#socialMedia-container {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    height: 5rem;
    border-radius: 40%;
    background-color: var(--main-color);
    font-size: 4rem;
    color: var(--secondary-color);
    transition: 0.2s ease-in-out;
}

.socialMedia:nth-child(2):hover {
    border-radius: 10px;
    color: #db1d9f;
}

.socialMedia:nth-child(1):hover {
    border-radius: 10px;
    color: #0077B5;
}

.socialMedia:nth-child(3):hover {
    border-radius: 10px;
    color: #1877F2;
}

#center h1 {
    font-family: 'Inter', serif;
    font-size: 2.4rem;
}

#footer-container #right {
    width: 20%;
    height: 70vh;
    flex-direction: column;
}