#navbar {
    min-width: 100%;
    background-color: white;
    height: 12vh;
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: sticky;
}

#navbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

#navbar-logo {
    height: 80px;
    width: 80px;
}

#navbar-name {
    color: var(--secondary-color);
    font-family: 'DynaPuff', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

#navbar-dashboard {
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 700;
}

.navbar-pages {
    color: var(--secondary-color);
    font-family: 'Public Sans', sans-serif;
    height: 100%;
    width: auto;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    padding-left: 40px;
}

#navbar-left a:hover {
    color: var(--accent-color);
}

#navbar-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 30%;
}

#avatarIMG {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#sidebar-icon {
    height: 12vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.sidebar-icon-line {
    border: 2px solid black;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    background-color: var(--secondary-color);
}