#navbar {
    min-width: 100%;
    background-color: var(--main-color);
    height: 12vh;
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: static;
}

#navbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

#navbar-logo {
    height: 80px;
    width: 80px;
}

#navbar-name {
    color: var(--secondary-color);
    font-family: 'DynaPuff', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

#navbar-dashboard {
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 700;
}

.navbar-pages {
    color: var(--secondary-color);
    font-family: 'Public Sans', sans-serif;
    height: 100%;
    width: auto;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    padding-left: 40px;
}

#navbar-left a:hover {
    color: var(--accent-color);
}

#navbar-right {
    display: flex;
    align-items: center;
    list-style: none;
}

#avatarIMG {
    height:30px;
    width: 30px;
    border-radius: 50%;
}

#nb-sb {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#sidebar-icon {
    height: 12vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}


#navbar-right li {
    padding-left: 2rem;
}

#menu-icon{
    height: 30px;
    width: 30px;
}

@media only screen and (max-width: 600px) {
    .hide-navbar {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}