.problem-card {
    width: 50%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 0 0 calc(50% - 0.5rem);
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--main-color);
    border: 1px solid var(--secondary-color);
    transition: 0.2s ease-out;
    padding: 1rem;
}

.problem-card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

.problem-card{
    color: var(--secondary-color);
    font-family: 'Public Sans';
}

.problem-card-content {
    display: flex;
    flex-direction: column;
}

.problem-card-content h3 {
    font-family: 'Public Sans', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

.problem-meta {
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .problem-card{
        width: 100%;
        flex: 0 0 calc(100%);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}