.problem-card {
    width: 50%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 0 0 calc(50% - 0.5rem);
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    border: 1px solid var(--secondary-color);
    transition: 0.2s ease-out;
    padding: 1rem;
}

.problem-card:hover{
    transform: scale(1.02);
}

.problem-card a {
    color: var(--secondary-color);
    font-family: 'Public Sans';
}

.problem-card-content {
    display: flex;
    flex-direction: column;
}

.problem-card-content h3 {
    font-family: 'Public Sans', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

.problem-meta {
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}