.problem-card{
    width:50%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    border-radius: 20px;
    background-color: var(--really-light-accent);
    border: 1px solid var(--secondary-color);
}

.problem-card a{
    flex: 1 1 300px;
    color: var(--secondary-color);
    font-family: 'Public Sans';
    min-width: 50%;
}
.problem-card-content{
    display: flex;
    flex-direction: column;
}

.problem-card-content h3{
    font-family: 'Public Sans', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.problem-meta{
    font-family: "Public Sans", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}