#sidebar {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: var(--main-color);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2vh;
    transition: right 0.2s ease-in-out;
    right: -300px;
    color: var(--secondary-color);
}

#sidebar ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

#sidebar li {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
}

#sidebar li:hover {
    cursor: pointer;
}

#sidebar a {
    width: 100%;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#x-icon {
    height: 80%;
    width: 100%;
    transition: 0.1s ease-out;
}

#x-icon:hover {
    transform: scale(1.2);
}

#sidebar a:hover {
    color: var(--accent-color);
    background-color: rgb(217, 217, 217);
}

#close-sidebar {
    display: flex;
    justify-content: flex-start;
    gap: 1vh;
}

.sidebar-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 990;
    backdrop-filter: blur(2px);
}

#sidebar-avatar {
    height: 100%;
    width: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 40vh;
}

#sidebar-avatarIMG {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#logout {
    width: 100%;
    height: 100%;
    background-color: transparent;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    padding-left: 40px;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logout:hover{
    color: var(--accent-color);
    background-color: rgb(217, 217, 217);
}

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}