.stopwatch {
    width: 20%;
    height: 2rem;
    background-color: var(--dark-accent-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 2rem;
    border-bottom-left-radius: 1rem;
    animation: changeColor 300s ease-in-out forwards;
}

@keyframes changeColor {
    0% {
        background-color: black;
        color: white;
        border: none;
    }

    20% {
        background-color: rgb(56, 4, 13);
        color: white;
        border: none;
    }

    40% {
        background-color: rgb(83, 6, 18);
        color: white;
        border: none;
    }

    60% {
        background-color: rgb(159, 9, 34);
        color: white;
        border: none;
    }

    80% {
        background-color: rgb(217, 4, 41);
        color: white;
        border: none;
    }

    100% {
        background-color: white;
        color: var(--secondary-color);
        border: 2px solid #dddddd;
    }
}