#your-track-container {
    margin-top: 5rem;
    height: auto;
    width: 100%;
    color: var(--secondary-color);
    padding: 5vh 4vw;
    display: flex;
    align-items: center;
}

#your-track-container h3 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
}

#your-track-container h4 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    padding-left: 2vw;
}

.prg-bar-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
}

#progressBar-container {
    width: 80%;
    height: 2rem;
    background-color: var(--french-gray);
    border-radius: 1rem;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

#progressBar-container:hover #arrowProblems{
    
}

#arrowProblems {
    width: 20%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s ease-in;
}

#arrowProblemsIMG {
    height: 100%;
    width: 3rem;
}

#arrowProblems:hover {
    transform: translateX(15px);
}

#measure-progressBar {
    background-color: var(--dark-accent-color);
    width: 50%;
    height: 100%;
    border-radius: 1rem;
}

#progress-bar-track {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50%;
    height: auto;
}

#noProblemsSolved {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding-left: 2vw;
}

#your-track-container figure {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}