.achievements-image-body {
    position: relative;
    min-height: 100vh;
    background: url('../../assets/images/journey.jpg') no-repeat center center
        /*fixed*/
    ;
    background-size: cover;
    object-fit: scale-down;
    display: flex;
    flex-direction: column;
    font-family: 'Public Sans', serif;
    z-index: 0;
    align-items: center;
    justify-content: flex-end;
    padding-top: 15vh;
    text-align: center;
}

.achievements-image-body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), var(--raisin-black));
    /* Adjust opacity for darkness */
    z-index: 1;
    pointer-events: none;
}

.achievements-image-body>* {
    position: relative;
    z-index: 2;
}

.achievements-image-body h1 {
    color: white;
    font-size: clamp(1.7rem, 5vw, 4rem);
    font-weight: 800;
    cursor: default;
}

#prg-hover:hover {
    transition: 0.4s ease-out;
    color: gold;
    transform: translateY(-20px);
}

.achievements-image-body h3 {
    color: white;
    font-size: clamp(1.1rem, 3vw, 2rem);
    font-weight: 400;
    padding: 0.6rem;
    cursor: default;
    padding-bottom: 45vh;
}

.achievements-filter {
    width: 100%;
    padding: 1rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 30px;
}

.achievements-link img{
    height: 100%;
    width: auto;
    padding: 10px;
    filter: saturate(0);
}

.achievements-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--french-gray);
    height: 50px;
    width: auto;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 0px 20px;
    border-radius: 50px;
    margin-top: 1rem;
    margin: 0;
}

.achievements-link:hover img,
.achievements-link:hover{
    transition: 0.2s ease-out;
    background-color: var(--dark-accent-color);
    color: var(--main-color);
    filter: saturate(1);
}

.achievements-content {
    width: 100%;
    background-color: var(--raisin-black);
    padding: 1rem;
    height: auto;
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#freepik-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-top: 2px dashed var(--main-color);
    padding: 1rem 0;
    text-decoration: underline;
    background-color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
}