.achievements-image-body {
    position: relative;
    min-height: 100vh;
    background-color: var(--main-color);
    background: url('../../assets/images/journey.jpg') no-repeat center center /*fixed*/;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Public Sans', serif;
    z-index: 0;
    align-items: center;
    padding: 15vh 0;
    text-align: center;
}

.achievements-image-body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    /* Adjust opacity for darkness */
    z-index: 1;
    pointer-events: none;
}

.achievements-image-body>* {
    position: relative;
    z-index: 2;
}

.achievements-image-body h1 {
    color: white;
    font-size: clamp(1.4rem, 5vw, 4rem);
    font-weight: 800;
    cursor: default;
}

#prg-hover:hover{
    transition: 0.4s ease-out;
    color: goldenrod;
    transform: translateY(-20px);
}

.achievements-image-body h3 {
    color: white;
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: 400;
    padding: 0.8rem;
    cursor: default;
}

.achievements-filter {
    width: 100%;
    background-color: var(--raisin-black);
    padding: 1rem;
    height: 10vh;
}

.achievements-content {
    width: 100%;
    background-color: var(--raisin-black);
    padding: 1rem;
    height: auto;
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#freepik-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-top: 2px dashed var(--main-color);
    padding: 1rem 0;
    text-decoration: underline;
    background-color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
}