.special-events {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    font-family: 'Sansation', sans-serif;

}

.special-events header {
    text-align: center;
    margin-bottom: 2rem;
}

.special-events h2 {
    font-size: clamp(1.7rem, 5vw, 3.2rem);
    padding: 0 0 1rem 0;
}

.special-events p {
    font-size: 1rem;
}

.events-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.event-item {
    color: white;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: default;
    opacity: 0;
    transform: translateY(20px);
    transition:
        opacity 0.6s ease-out,
        transform 0.6s ease-out,
        box-shadow 0.3s ease;
    border: 2px solid #161722;
}

.event-item.animate-in {
    opacity: 1;
    transform: translateY(0);
}

.event-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.event-item h3 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    color: var(--dark-accent-color);
}

.event-item time {
    font-size: 2rem;
    color: gold;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.event-item p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.register-button {
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Sansation', sans-serif;
}

.register-button:hover {
    background-color: var(--raisin-black);
}