/* index.css or App.css */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer colors {
  :root {
    --raisin-black: rgb(32, 34, 49);
    --secondary-color: rgb(43, 45, 66);
    /*Secondary Color*/
    --mid-main-secondary: #8d99aeff;
    /*Mid Main & Secondary*/
    --french-gray: #bdc6d1ff;
    --main-color: rgb(237, 242, 244);
    /*Main Color*/
    --really-light-accent: #ee8b98ff;
    /*Really Light Accent Color*/
    --light-accent-color: #ef233cff;
    /*Light Accent Color*/
    --accent-color: rgb(217, 4, 41);
    /*Accent Color*/
    --dark-accent-color: rgb(163, 20, 44);
    /*Dark Accent Color*/
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px solid skyblue; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}



/* @media (prefers-color-scheme: light) {
  :root {
    color: red;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */