#body-dashboard {
    width: 100%;
    background: linear-gradient(180deg, var(--mid-main-secondary), var(--main-color) 50%);
    min-height: 100vh;
}

#hero-dashboard {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5vh 4vw 0 4vw;
}

#welcome-dashboard {
    color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
    width: 50%;
    max-width: 92%;
    height: 100%;
    padding-top: 10vh;
    padding-bottom: 2vh;
}

#hero-dashboard h1 {
    font-size: clamp(0.9rem, 4rem, 4.5rem);
    margin-bottom: 2vh;
}

#hero-dashboard h4 {
    font-size: clamp(0.7rem, 1.5rem, 2rem);
    font-weight: 400;
    line-height: 1.2;
    width: 90%;
}

#teacher-container {
    padding-left: 5%;
    padding-bottom: 2vh;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
}

#teacher-container img {
    max-width: 95%;
    max-height: 95%;
}

#whereToStart-container {
    padding: 0 4vw;
}

#whereToStart-container h3 {
    color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
}

#whereToStart-options {
    margin-top: 2.5rem;
    aspect-ratio: 16/9;
    height: 16rem;
    width: auto;
    gap: 2px;
    display: flex;
    box-shadow: 0 10px 10px rgba(141, 153, 174, 0.3);
}

.whereToStart-block {
    aspect-ratio: 1;
    height: 16rem;
    width: 17rem;
    background-color: white;
    transition: 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
    cursor: pointer;
    border-radius: 2px;
}

.whereToStart-block img {
    height: 8rem;
    width: 8rem;
}

.whereToStart-block h6 {
    color: var(--secondary-color);
    font-family: 'Public Sans', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    width: 80%;
    height: 8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whereToStart-block:hover {
    /* zoom: 1.1; */
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(141, 153, 174, 0.7);
}


@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #welcome-dashboard {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #teacher-container {
        display: none;
    }

    #whereToStart-container {
        padding: 10vh 4vw 5vh 4vw;
    }

    .whereToStart-container {
        padding: 0 4vw;
    }

    .whereToStart-block {
        width: 50%;
        padding: 1rem;
        gap: 0.8rem;
        flex: 0 0 calc(50% - 0.5rem);
        box-sizing: border-box;
        aspect-ratio: 1;
    }

    .whereToStart-block img {
        height: 80%;
        width: 80%;
    }

    .whereToStart-block h6 {
        font-size: 1.5rem;
    }

    #whereToStart-options {
        gap: 0.5rem;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)and (max-width: 1199px) {
    #welcome-dashboard {
        padding-top: 2vh;
    }

    .whereToStart-block {
        height: 12rem;
        width: 13rem;
        padding: 1rem 1rem;
        gap: 0.8rem;
    }

    .whereToStart-block h6 {
        font-size: 1rem;
    }

    #whereToStart-options {
        height: 12rem;
        width: auto;
        display: flex;
        justify-content: center;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    #welcome-dashboard {
        padding-top: 5vh;
    }
}

@media only screen and (min-width: 1600px) {
    #hero-dashboard {
        padding: 5vh 12vw 0 12vw;
    }

    #whereToStart-container {
        padding: 0vw 12vw;
    }

    #your-track-container {
        padding: 0 12vw;
    }
}