#home-body {
    background-color: white;
    width: 100vw;
    height: 100vh;
}

#navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: burlywood;
    width: 100vw;
    height: 9rem;
}

#logoName {
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
}

#logoIMG {
    height: 100%;
    width: 9rem;
    margin-left: 5rem;
}

#name {
    display: flex;
    align-items: center;
    font-family: DynaPuff, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--secondary-color);
    margin: 0;
    height: 100%;
    font-size: 2rem;
}

#home-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    height: 100%;
}

.btnLanding {
    font-family: Public Sans, cursive;
    padding: 20px;
    font-size: 1.2rem;
}

#learnMore{
    color: var(--secondary-color);
    
}
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 9rem);
}


#hero-left {
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#hero-title {
    align-items: flex-start;
    justify-content: center;
    color: black;
    font-family: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#hero-description {
    color: var(--secondary-color);
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.feature {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

#hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}