#home-body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: burlywood;
    width: 100vw;
    height: 10rem;
}

#logoIMG{
    height: 100%;
    width: 10rem;
}

#name {
    font-family: DynaPuff, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 #home-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
 }
.btnLanding{
    font-family: Public Sans, cursive;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


#hero-left {
    justify-content: center;
    align-items: center;
}

#hero-title{
    align-items: flex-start;
    justify-content: center;
    color: black;
    font-family: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#hero-description{
    color: var(--secondary-color);
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.feature{
    font-family: Inter, Arial, Helvetica, sans-serif;
}

#studyingIMG{
    width: 600px;
    height: 600px;
}