#home-body {
    background-color: white;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    height: 140px;
}

#logoName {
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
}

#logoIMG {
    height: 100%;
    width: 140px;
    margin-left: 50px;
}

#name {
    display: flex;
    align-items: center;
    font-family: 'DynaPuff', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--secondary-color);
    margin: 0;
    height: 100%;
    width: 200px;
    font-size: 36px;
}

#home-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    height: 100%;
    padding-right: 2vw;
}

.btnLanding {
    font-family: 'Public Sans', cursive;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#learnMore {
    color: var(--secondary-color);
    background-color: white;
    margin-right: 1rem;
    width: 115px;
    transition: all 0.2s ease-out;
}

#learnMore:hover {
    color: var(--accent-color);
}

#exploreProblems {
    box-shadow: inset 0 0 0 0.2rem var(--accent-color);
    color: var(--accent-color);
    margin-right: 1rem;
    width: 207px;
    transition: all 0.2s ease-out;
}

#exploreProblems:hover {
    background-color: var(--accent-color);
    color: var(--main-color);
}

#enrollNow {
    background-color: var(--mid-main-secondary);
    color: var(--secondary-color);
    width: 140px;
    transition: 0.3s ease-out;
}

#enrollNow:hover {
    background-color: var(--french-gray);
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#hero-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100%;
    margin-left: 50px;
    flex-direction: column;
}

#hero-title {
    flex-direction: row;
    color: black;
    font-family: 'Inter', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 205px;
    width: 637px;
    font-size: 75px;
    font-weight: 850;
    margin: 0;
    text-align: left;
}

#hero-description {
    width: 637px;
    height: 70px;
    color: var(--secondary-color);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0;
    margin: 10px 0 30px 0;
    font-weight: 400;
    word-break: keep-all;
    line-height: 1.2;
}

#features-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 637px;
    height: 120px;
    text-align: center;
}

.feature {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

#hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: calc(100vh - 140px);
}

#studyingIMG {
    width: auto;
    height: 100%;
    padding: 2vw;
}

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}