#body-learn {
    background: linear-gradient(180deg, var(--mid-main-secondary), var(--main-color) 50%);
    min-height: 100vh;
}

#hero-learn {
    width: 100%;
    height: auto;
    display: flex;
    padding: 5vh 4vw 4vh 4vw;
    flex-direction: column;
}

#welcome-learn {
    display: flex;
    padding-bottom: 3rem;
}

#welcome-learn figure {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#learn-explore {
    font-family: 'Public Sans', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--secondary-color);
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    justify-content: center;
    padding-top: 9vh;
}

#learn-explore h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

#learn-explore h4 {
    padding-top: 1rem;
    font-weight: 550;
    font-size: 2rem;
    width: 90%;
}

#search-filtering {
    width: 100%;
    height: 5rem;
}

#searchbar-and-icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 35vw;
    height: 10vh;
    margin-bottom: 2rem;
}

#problem-searchbar:focus {
    outline: 2px solid var(--accent-color);
    box-shadow: 0 0 5px 0 var(--accent-color);
}

#problem-searchbar {
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    border-radius: 1rem;
    padding-left: 3.5rem;
    border: 1px solid var(--secondary-color);
    outline: none;
}

#search-icon {
    position: absolute;
    left: 1rem;
    color: var(--mid-main-secondary);
    font-size: 1.5rem;
    z-index: 1;
    cursor: pointer;
    transition: color 0.2s ease;
}

#search-icon:hover {
    color: var(--secondary-color);
}

#problem-searchbar::placeholder {
    color: var(--mid-main-secondary);
    font-size: 1.25rem;
}

#filters-container {
    width: 100%;
    display: flex;
    height: 3rem;
    align-items: center;
    gap: 3rem;
}

.filtering {
    height: 100%;
    width: 10rem;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-family: 'Public Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.filtering:hover {
    background-color: var(--really-light-accent);
    color: var(--main-color);
}

.filtering:focus {
    outline: 2px solid var(--accent-color);
    box-shadow: 0 0 5px 0 var(--accent-color);
}

#problems-container {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 8rem;
    flex-wrap: wrap; 
    gap: 1rem;
}