#body-login {
    height: 100vh;
    min-height: 100vh;
    background-color: white;
    width: 100vw;
    display: flex;
}

#login-container {
    width: 40%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 80px;
}

#login-logo-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-name {
    display: flex;
    align-items: center;
    font-family: 'DynaPuff', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--secondary-color);
    margin: 0;
    height: 100%;
    width: 200px;
    font-size: 36px;
}

.straightLine {
    height: 1px;
    width: 100px;
    display: flex;
    background-color: black;
}


#background-container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#auth {
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

#forgotPass {
    color: var(--dark-accent-color);
    font-size: 15px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    text-align: left;
}

#forgotPass:hover{
    text-decoration: underline;
}

#login-btn {
    width: 100%;
    height: 50px;
    background-color: var(--dark-accent-color);
    color: white;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    margin: 30px 0 20px 0;
    border: 1px solid var(--secondary-color);
    transition: 0.2s ease-out;
    box-shadow: 0 5px 5px 0 rgba(43, 45, 66, 0.5);
}

#login-btn:hover {
    background-color: rgb(128, 16, 35);
}

#auth-other-options {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 12px;
    gap: 10px;
}

.auth-other-options-text {
    color: black;
}

.other-option-link{
    color: var(--dark-accent-color);
}

