#body-problem {
    background: linear-gradient(180deg, var(--mid-main-secondary), var(--main-color) 50%);
    min-height: 100vh;
    color: var(--secondary-color);
}

#body-problem header {
    display: flex;
    align-items: center;
    font-family: 'Public Sans', serif;
    font-weight: lighter;
    background-color: var(--main-color);
    width: 100%;
    border-bottom: 2px solid var(--secondary-color);
    padding: 0.6rem;
}

#backToExercises-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: var(--secondary-color);
    font-weight: lighter;
}

#backToExercises-link #arrowProblemsIMG {
    width: 1.8rem;
    transform: rotate(180deg);
}

#body-problem h1 {
    font-family: 'Public Sans', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

.problem-tags {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Public Sans', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.description-yourSolution {
    display: flex;
    width: 100%;
    height: 100%;
}

.problem-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    align-items: center;
    padding: 0.8rem;
    gap: 0.2rem;
}

.problem-description {
    width: 50%;
    display: flex;
    background: linear-gradient(0deg, white, var(--mid-main-secondary));
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 0.5rem;
    font-family: 'Inter', sans-serif;
    border-right: 5px solid black;
}

.problem-description h2 {
    font-size: 1.4rem;
}

.problem-description p {
    font-size: 1.4rem;
}

.solution-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.solution-section h2{
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    padding: 0.5rem;
}

.solution-section textarea {
    background-color: transparent;
    height: 40vh;
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    padding: 1rem 2rem;
    resize: none;
    border: none;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    color: black;
}

.solution-section textarea:focus{
    outline: none;
}

.solution-section textarea::placeholder {
    color: var(--mid-main-secondary);
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}

pre{
    font-size: 1.4rem;
}

.solution-input{
    width: 50%;
    height: 8vh;
    font-size: 1.5rem;
    background-color: white;
    border: none;
    color: black;
    padding: 0 1rem;
}

.solution-input:focus{
    outline: 2px solid var(--accent-color);
}
.solution-input::placeholder{
    color: gray;
}
/* .solution-input::{
    color: red;
} */