#body-resend {
    height: 100vh;
    min-height: 100vh;
    background-color: white;
    width: 100vw;
    display: flex;
}

#resend-container {
    width: 45%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 70px;
}

#resend-logo-name {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#resend-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#resend-text-container h3 {
    font-family: 'Inter', sans-serif;
    color: var(--secondary-color);
    font-size: 1.6rem;
}

#resend-text-container h6 {
    font-family: 'Inter', sans-serif;
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 300;
}

#background-container {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resend {
    width: 100%;
}

.resend-btn {
    width: 100%;
    height: 50px;
    background-color: var(--dark-accent-color);
    color: white;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    margin: 10px 0 30px 0;
    border: 1px solid var(--secondary-color);
    transition: 0.1s ease-out;
    box-shadow: 0 5px 5px 0 rgba(43, 45, 66, 0.5);
    cursor: pointer;
}

.resend-btn:hover {
    background-color: rgb(128, 16, 35);
}


#auth-other-options {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    gap: 10px;
}

.auth-other-options-text {
    color: black;
}

.other-option-link {
    color: var(--dark-accent-color);
}


@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}