#body-signup {
    height: 100vh;
    min-height: 100vh;
    background-color: white;
    width: 100vw;
    display: flex;
    overflow-y: auto;
    scrollbar-color: var(--dark-accent-color) var(--main-color);
    scrollbar-width: thin;
}

#signup-container {
    width: 45%;
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 70px;
    max-height: 100vh;
}

#signup-logo-name {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#signup-name {
    display: flex;
    align-items: center;
    font-family: 'DynaPuff', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--secondary-color);
    margin: 0;
    height: 100%;
    width: 200px;
    font-size: 2rem;
}

#background-container {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    position: sticky;
    top: 0;
}

#auth {
    width: 100%;
    height: 500px;
    margin-top: 40px;
}

#forgotPass {
    color: var(--dark-accent-color);
    font-size: 15px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    text-align: left;
}

#forgotPass:hover {
    text-decoration: underline;
}

#signup-btn {
    width: 100%;
    height: 50px;
    background-color: var(--dark-accent-color);
    color: white;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    margin: 20px 0 25px 0;
    border: 1px solid var(--secondary-color);
    transition: 0.1s ease-out;
    box-shadow: 0 5px 5px 0 rgba(43, 45, 66, 0.5);
    cursor: pointer;
}

#signup-btn:hover {
    background-color: rgb(128, 16, 35);
}

#auth-other-options {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 12px;
    gap: 5px;
}

.auth-other-options-text {
    color: black;
}

.other-option-link {
    color: var(--dark-accent-color);
}

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}