.global-leaderboard {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    cursor: default;
    border-radius: 12px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    padding: 3rem;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1200px;
}

.global-leaderboard h2 {
    font-family: 'Public Sans', cursive;
    color: white;
}

.global-leaderboard ul {
    list-style-type: none;
    padding: 0;
}

.global-leaderboard li {
    margin: 10px 0;
}

.tier-badge {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.tier-bronze {
    background-color: #cd7f32;
}

.tier-silver {
    background-color: #c0c0c0;
}

.tier-gold {
    background-color: #ffd700;
}

.tier-diamond {
    background-color: #b9f2ff;
}

.motivational-message {
    margin-top: 20px;
    font-style: italic;
}