.global-leaderboard {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    cursor: default;
    border-radius: 12px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    padding: 3rem;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1200px;
}

.global-leaderboard h2 {
    font-family: 'Inter', sans-serif;
    font-size: clamp(1.7rem, 5vw, 3.2rem);
    text-align: center;
    color: white;
}

.global-leaderboard ul {
    list-style-type: none;
}

.global-leaderboard li {
    margin: 10px 0;
    padding: 1rem 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.global-leaderboard li a {
    font-size: clamp(1rem, 3vw, 1.2rem);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    width: 100%;
    padding: 0;
    color: var(--main-color);
}

.tier-badge {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.tier-bronze {
    background-color: #8C4A2F;
}

.tier-silver {
    background-color: #6E6E6E;
}

.tier-gold {
    background-color: #B8860B;
}

.tier-diamond {
    background-color: #1565C0;
}

.motivational-message {
    margin-top: 20px;
    font-style: italic;
}

#filter-rankings {
    background-color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
    padding: 0.5rem 1.4rem;
    color: white;
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

.leaderboard{
    width: 100%;
    overflow-y: auto;
    max-height: 400px;
    padding: 0 2rem;
}

