.leaderboard-opt-container{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: antiquewhite;
    gap: 5rem;
    justify-content: space-around;
    align-items: center;
}

.lb-option{
    color: var(--accent-color);
    font-family: 'Public Sans', Arial, Helvetica, sans-serif;
    font-size: clamp(1.2rem, 3vw, 1.2rem);
    border: 3px solid white;
    padding: 0.5rem;
}