.leaderboards-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.32);
}

.leaderboards-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.leaderboard-opt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: transparent;
    height: auto;
    min-height: 60px;
}

.lb-option {
    color: white;
    font-family: 'Public Sans', Arial, Helvetica, sans-serif;
    font-size: clamp(1.2rem, 3vw, 1.2rem);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-weight: 700;
    text-align: center;
    transition: 0.2s ease-out;
}

.lb-option.active {
    color: white;
    background-color: var(--accent-color);
}

.lb-option:hover {
    color: white;
    background-color: var(--accent-color);
}

.leaderboards-content {
    flex: 1;
    width: 100%;
    padding: 3rem 20vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}