.google-auth-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

#google-btn {
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 5px 5px 0 rgba(43, 45, 66, 0.5);
    transition: 0.1s ease-out;
    cursor: pointer;
}

#google-btn:hover {
    background-color: #f3f3f3;
    box-shadow: 0 5px 8px 0 rgba(43, 45, 66, 0.8);
}

#google-icon {
    height: 25px;
    width: 25px;
}

.or-line {
    width: calc(40vw - 80px);
}

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}