.stopwatch {
    padding: 0.5rem 1rem;
    background-color: var(--dark-accent-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    border-radius: 0.5rem;
    animation: changeColor 300s ease-in-out forwards;
    border: 2px solid var(--french-gray);
}

@keyframes changeColor {
    0% {
        background-color: black;
        color: white;
    }

    20% {
        background-color: rgb(56, 4, 13);
        color: white;
    }

    40% {
        background-color: rgb(83, 6, 18);
        color: white;
    }

    60% {
        background-color: rgb(159, 9, 34);
        color: white;
    }

    80% {
        background-color: rgb(217, 4, 41);
        color: white;
    }

    100% {
        background-color: white;
        color: var(--secondary-color);
    }
}