#your-track-container {
    margin-top: 1rem;
    height: auto;
    width: 100%;
    color: var(--secondary-color);
    padding: 0 4vw 6vh 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#your-track-container h3 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
}

#your-track-container h4 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;
    padding-left: 2vw;
}

.prg-bar-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
}

#progressBar-container {
    width: 80%;
    height: 2rem;
    background-color: var(--french-gray);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
}

#measure-progressBar {
    height: 100%;
    border-radius: 1rem;
    transition: width 0.3s ease;

}

progress::-moz-progress-bar {
    background: var(--dark-accent-color);
}

progress::-webkit-progress-bar {
    background: var(--dark-accent-color);
}

progress {
    color: var(--dark-accent-color);
}

#progressBar-container:hover+#arrowProblems {
    transform: translateX(15px);
}

#arrowProblems {
    width: 20%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.3s ease-in;
    margin-left: 1rem;
}

#arrowProblemsIMG {
    height: 100%;
    width: 3rem;
}

#arrowProblems:hover {
    transform: translateX(15px);
}

#progress-bar-track {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50%;
    height: auto;
}

#noProblemsSolved {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding-left: 2vw;
}

#your-track-container figure {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    #your-track-container {
        flex-direction: column;
        text-align: center;
    }

    #progress-bar-track,
    #your-track-container figure {
        width: 100%;
        padding: 0 2vw;
    }

    #your-track-container figure img {
        width: 90%; 
        object-fit: fill;
    }

    .prg-bar-arrow {
        padding-left: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    #progressBar-container {
        width: 100%;
        margin-bottom: 1rem;
    }

    #arrowProblems {
        margin-left: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    #your-track-container {
        flex-direction: column;
        text-align: center;
    }

    #progress-bar-track,
    #your-track-container figure {
        width: 100%;
    }

    .prg-bar-arrow {
        padding-left: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    #progressBar-container {
        width: 100%;
        margin-bottom: 1rem;
    }

    #arrowProblems {
        margin-left: 0;
        width: 30%;
        height: 3rem;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    #your-track-container figure img {
        width: 100%;
        height: 300px;
        aspect-ratio: 1;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)and (max-width: 1199px) {
    #your-track-container figure {
        width: 50%;
        height: 300px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1600px) {
    #your-track-container {
        padding: 0 12vw 6vh 12vw;
    }
}